@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

body p {
  font-size: 12pt;
}

body h1 {
  font-size: 35pt; /* 2.8em */
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Images fill the width of the container column divider. */
.row > div > img { width: 100%; display: block; }

/* Center image in divider. */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/* index.html multi-column styles. */
.mgub-multicolumn-menu h1 {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mgub-multicolumn-menu h2 {
  font-size: 18px;
  line-height: 22px;
  /* font-weight: 700; */
  /* letter-spacing: 2px; */
}


.mgub-multicolumn-menu p {
  font-size: 11pt;
  color: #777777;
}

/*
.mgub-multicolumn-menu a:link {
  color: #000000 !important;
}
*/

/* ul.nav li a, ul.nav li a:visited { */
/*
.mgub-multicolumn-menu a:visited {
  color: #000000 !important;
}
*/

/*
.mgub-multicolumn-menu a:hover {
  color: #000000 !important;
}
*/

/* ul.nav li a:hover, ul.nav li a:active { */
/*
.mgub-multicolumn-menu a:active {
  color: #000000 !important;
}
*/

/* CSS used here will be applied after bootstrap.css */
img, .embed-responsive {
	margin-bottom: 30px;
}

/* CSS used here will be applied after bootstrap.css */
iframe, .embed-responsive {
	margin-bottom: 30px;
}
